@import "variables.scss";
@import "css_layout/layout.scss";
@import url(fontStyle_regular.css);
@import url(fontStyle_bold.css);
@import url(fontStyle_extrabold.css);

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }


}



.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.siteContent {
  flex: 1;
}




.Coaching {
  .Coaching_wrapper {
    width: 100%;
    height: auto;
    background-color: $gray;

  }

  .Coaching_container {
    width: $xxl;
    margin: 0 auto;

    .Coaching_breadcrumb {
      display: flex;
      padding-top: 25px;
      margin-left: 258px;

      li {
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $normal;
        font-size: 12px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: $bombay;

        &:nth-child(2) {
          color: black;


        }


      }


    }

  }



  .Coaching_mainFlex {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 100px;

    h2 {
      width: 75%;
      margin-top: 30px;
      margin-left: 120px;
      font-family: $gothamPro;
      font-style: normal;
      font-weight: $extrabold;
      font-size: 40px;
      line-height: 160%;
      text-align: left;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: $shark;
      background: url(../img/Rectangle14.png) no-repeat bottom;


    }

  }

  .Coaching_itemFlex {
    display: flex;
    flex-flow: row wrap;
    margin-top: 53px;
    margin-left: 141px;
    /*Restore Item*/
    .Coaching_item {
      position: relative;
      margin-right: 30px;
      margin-bottom: 30px;
      width: 270px;
      height: 388px;
      background: $white;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      h3{
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $extrabold;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $shark;



      }
      & > p {
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: $shark;

        a {
          color: $green;


        }

      }



      &:hover {
        transition: transform 0.5s;
        transform: scale(1.2);
      }
      img {
        width: 270px;
        height: 202px;
        margin-bottom: 23px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }


    }


  }

  button{
    position: absolute;
    right: 25px;
    box-sizing: border-box;
     width: 220px;
    height: 40px;
    border: 2px solid $green;
    border-radius: 100px;
    background-color: $white;
    font-family: $gothamPro;
    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: $green;
    &:nth-child(1){
      margin-top: 19px;
    }

    &:nth-child(-n+3){
      margin-top: 50px;
    }

  }

}


