@import "variables.scss";
@import url(fontStyle_regular.css);
@import url(fontStyle_bold.css);
@import url(fontStyle_extrabold.css);

@keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
    transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
    transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
    transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg);
  }


}



.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.siteContent {
  flex: 1;
}


.top_line {
  width: 100%;
  height: 50px;
  background-color: $deepblue;

  .container {
    width: $xxl;
    margin: 0 auto;

    .wrapper {
      display: flex;

      .social_flex {
        width: 50%;
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;

        a {

          width: 19px;
          height: 17px;
          margin-right: 20px;

          &:first-child {
            background: url("../img/social_spritesheet.png")-5px -5px;
          }

          &:nth-child(2) {

            background: url("../img/social_spritesheet.png")-24px -5px;

          }

          &:nth-child(3) {
            background: url("../img/social_spritesheet.png")-74px -5px;

          }

          &:nth-child(4) {
            background: url("../img/social_spritesheet.png")-50px -5px;
            margin-right: 0;
          }
        }

      }

      .contact_flex {
        width: 50%;
        display: flex;
        justify-content: end;
        padding-top: 18px;
        padding-bottom: 18px;

        address {
          margin-right: 40px;
          padding-left: 15px;
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          background: url("../img/Vectorpoint.png") no-repeat left;


        }

        a {
          padding-left: 15px;
          font-style: normal;
          font-family: $gothamPro;
          font-weight: $normal;
          font-size: 14px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          background: url("../img/Vectorphone.png") no-repeat left;
        }

      }
    }


  }


}


.faq_wrapper {
  width: 100%;
  height: auto;
  background-color: $gray;

}

.faq_container{
  width: $xxl;
  margin: 0 auto;

  .faq_breadcrumb {
    display: flex;
    padding-top: 25px;
    margin-left: 258px;

    li {
      font-family: $gothamPro;
      font-style: normal;
      font-weight: $normal;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: 0.02em;
      color: $bombay;

      &:nth-child(2) {
        color: black;


      }


    }


  }

  h2 {
    width: 1170px;
    margin-top: 30px;
    margin-left: 255px;
    font-family: $gothamPro;
    font-style: normal;
    font-weight: $extrabold;
    font-size: 40px;
    line-height: 160%;
    text-align: left;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $shark;
    background: url(../img/Rectangle14.png) no-repeat bottom;


  }




}

ul.accordion-list {
  position: relative;
  display: block;
  width: 65%;
  height: auto;
  padding: 20px;
  margin-left: 233px;
  list-style: none;
  background-color: #f9f9fA;

  li {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    background-color: $white;
    padding: 20px;
    margin: 0 auto 15px auto;
    border: 1px solid #eee;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      h3 {
        &:after {
          transform: rotate(45deg);

        }
      }
    }

    h3 {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      padding: 0 0 0 0;
      margin: 0;
       cursor: pointer;

      font-family: $gothamPro;
      font-style: normal;
      font-weight: $bold;
      font-size: 24px;
      line-height: 160%;
      letter-spacing: 0.02em;
      color: $shark;


      &:after {
        content: "\271a";
        font-family: $gothamPro;
        position: absolute;
        right: 0;
        top: 0;
        color: $black;
        transition: all 0.3s ease-in-out;
        font-size: 18px;
      }
    }

    div.answer {
      position: relative;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
      cursor: pointer;

      p {
        position: relative;
        display: block;
        padding: 10px 0 0 0;
        cursor: pointer;
        margin: 0 0 15px 0;
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $normal;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: $black;


      }
    }
  }
}




nav {
  width: 100%;
  height: 50px;
  margin-bottom: 37px;
  background-color: $white;

  .container {
    width: $xxl;
    margin: 0 auto;

    .wrapper {
      display: flex;
      margin-top: 37px;
      justify-content: space-between;
      #menu__toggle{
        visibility: hidden;
      }
      ul {
        display: flex;
        align-items: center;

        li {


          display: block;
          background: url("../img/Rectangle 8.png") no-repeat right;

          a {
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $shark;
            margin-right: 19px;
            margin-left: 19px;


          }


          &:nth-child(5) {
            a {
              color: $green;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;

            }


          }
          &:last-child:nth-child(7){
            background: none;
          }
          &:last-child {
            background: none;
          }

          &:hover {
            color: $green;
          }

        }
      }

      .cart {
        margin-top: 15px;
        background: url("../img/cart.png") no-repeat;
        width: 60px;
        height: 54px;


      }

      button {
        width: 170px;
        height: 50px;
        background: $green;
        border: 0;
        border-radius: 100px;
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $bold;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: $white;
        &:hover{
          animation: shake 0.5s ease-in-out ;
        }

      }

    }

  }


}


footer {
  width: 100%;
  height: 308px;
  background-color: $deepblue;


  .footer_container {
    width: $xxl;
    margin: 0 auto;


  }

  .footer_mainFlex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .footer_copyright {
      svg {
        margin-top: 60px;
        margin-bottom: 110px;
      }

      p {
        font-family: $gothamPro;
        font-style: normal;
        font-weight: $normal;
        font-size: 14px;
        line-height: 200%;
        letter-spacing: 0.02em;
        color: $white;
        opacity: 0.5;
      }
    }

    .footer_menuOne {
      ul {
        margin-top: 53px;

        li {
          &:nth-child(1) {
            margin-bottom: 11px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $extrabold;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;


          }

          a {
            width: 189px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.02em;
            color: $white;

          }

        }

      }


    }

    .footer_menuTwo {
      ul {
        margin-top: 53px;

        li {


          &:nth-child(1) {
            margin-bottom: 11px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $extrabold;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;


          }

          a {

            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.02em;
            color: $white;

          }


        }

      }


    }

    .footer_socialMenu {
      ul {
        margin-top: 53px;

        li {

          &:nth-child(1) {
            margin-bottom: 11px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $extrabold;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $white;
            opacity: 0.5;


          }

          &:nth-child(2) {
            display: flex;


          }


        }

        a {

          width: 34px;
          height: 34px;
          margin-right: 10px;
          background-color: $deepblue;

          &:first-child {
            width: 34px;
            height: 34px;

          }

          &:nth-child(2) {
            width: 34px;
            height: 34px;


          }

          &:nth-child(3) {
            width: 34px;
            height: 34px;


          }

          &:nth-child(4) {
            width: 34px;
            height: 34px;
            margin-right: 0;

          }
        }

      }


    }


  }


}