@import url(fontStyle_regular.css);
@import url(fontStyle_bold.css);
@import url(fontStyle_extrabold.css);


// colors
$white: #FFFFFF;
$deepblue: #2B3966;
$green: #49A069;
$gray: #f8f9fa;
$shark:#262728;
$black:#000000;
$bombay:#A8A9AA;
$iron:#DADBDC;
$athensGray:#F8F9FA;
$thunderbird:#CE1212;




// fonts

$gothamPro:  'Gotham Pro', sans-serif;


$normal: 400;
$bold:  700;
$extrabold: 900;


// containers

$xxl:1560px;
$xl:1140px;
$l:960px;
$md:720px;
$sm:540px;
$exs:300px;



