/css/main_style.css.map
/css/reset.css.map
/css/variables.css.map
/.idea/Final.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/img/foterSocial_stylesheet.sql
/img/contacts_stylesheet.sql
