@import '../variables.scss';

@media screen and (max-width: 1559px){
  /*header*/
  .top_line{
    width: 100%;
    height: 50px;
    background-color:$deepblue;
    .container{
      width: $xl;
      margin: 0 auto;
      .wrapper{
        display: flex;
        .social_flex{
          width: 50%;
          display: flex;
          padding-top: 18px;
          padding-bottom: 18px;
          a {

            width: 19px;
            height: 17px;
            margin-right: 20px;

            &:first-child {
              background: url("../../img/social_spritesheet.png")-5px -5px ;
            }
            &:nth-child(2) {

              background: url("../../img/social_spritesheet.png")-24px -5px ;

            }
            &:nth-child(3) {
              width: 21px;

              background: url("../../img/social_spritesheet.png")-74px -5px ;

            }
            &:nth-child(4) {
              background: url("../../img/social_spritesheet.png")-50px -5px;
              margin-right: 0;
            }
          }

        }
        .contact_flex{
          width: 50%;
          display: flex;
          justify-content: end;
          padding-top: 18px;
          padding-bottom: 18px;

          address{
            margin-right: 40px;
            padding-left: 15px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorpoint.png")no-repeat left;




          }

          a{
            padding-left: 15px;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorphone.png")no-repeat left;
          }

        }
      }




    }


  }
  nav{
    width: 100%;
    height: 90px;
    margin-bottom: 37px;
    background-color:$white;
    .container{
      width: $xl;
      margin: 0 auto;

      .wrapper{
        position: relative;
        display: flex;
        flex-flow: column;
        margin-top: 37px;
        justify-content: space-between;
        svg{
          width: 200px;

        }
        ul {
          display: flex;
          align-items: center;
          li{
            display: block;
            background: url("../../img/Rectangle 8.png")no-repeat right;
            padding-right: 5px;
            padding-left: 5px;

            a{

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.02em;
              color: $shark;
              text-align: center;
              white-space: pre-wrap;
              margin-right: 0;
              margin-left: 0;


            }

            &:last-child{
              background: none;
            }
            &:hover{
              color:$green;
            }

          }
        }
        .cart{
          position: absolute;
          top: 37px;
          left: 891px;
          background: url("../../img/cart.png") no-repeat;
          width: 60px;
          height: 54px;


        }
        button{
          position: absolute;
          left: 969px;
          top: 50px;
          width: 170px;
          height: 50px;
          background: $green;
          border: 0;
          border-radius: 100px;
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $bold;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          &:hover{
            cursor: pointer;
            animation: shake 0.5s ease-in-out ;
          }

        }

      }

    }



  }




  /*Footer*/


  footer{
    width: 100%;
    height: 308px;
    background-color:$deepblue;


    .footer_container{
      width: $xl;
      margin: 0 auto;


    }
    .footer_mainFlex {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      .footer_copyright{
        svg{
          margin-top: 60px;
          margin-bottom: 110px;
        }
        p{
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: $white;
          opacity: 0.5;
        }
      }
      .footer_menuOne{
        ul{
          margin-top: 53px;
          li {
            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }

            a {
              width: 189px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }

          }

        }



      }
      .footer_menuTwo{
        ul{
          margin-top: 53px;
          li {


            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            a {

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }


          }

        }



      }

      .footer_socialMenu{
        ul{
          margin-top: 53px;
          li {

            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            &:nth-child(2){
              display: flex;



            }


          }

          a {

            width: 34px;
            height: 34px;
            margin-right: 10px;
            background-color:  $deepblue;

            &:first-child {
              width: 34px;
              height: 34px;

            }
            &:nth-child(2) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(3) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(4) {
              width: 34px;
              height: 34px;
              margin-right: 0;

            }
          }

        }






      }


    }



  }





}
@media screen and (max-width: 1199px){
  /*header*/
  .top_line{
    width: 100%;
    height: 50px;
    background-color:$deepblue;
    .container{
      width: $l;
      margin: 0 auto;
      .wrapper{
        display: flex;
        .social_flex{
          width: 50%;
          display: flex;
          padding-top: 18px;
          padding-bottom: 18px;
          a {

            width: 19px;
            height: 17px;
            margin-right: 20px;

            &:first-child {
              background: url("../../img/social_spritesheet.png")-5px -5px ;
            }
            &:nth-child(2) {

              background: url("../../img/social_spritesheet.png")-24px -5px ;

            }
            &:nth-child(3) {
              width: 21px;
              background: url("../../img/social_spritesheet.png")-74px -5px ;

            }
            &:nth-child(4) {
              background: url("../../img/social_spritesheet.png")-50px -5px;
              margin-right: 0;
            }
          }

        }
        .contact_flex{
          width: 50%;
          display: flex;
          justify-content: end;
          padding-top: 18px;
          padding-bottom: 18px;

          address{
            margin-right: 40px;
            padding-left: 15px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorpoint.png")no-repeat left;




          }

          a{
            padding-left: 15px;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorphone.png")no-repeat left;
          }

        }
      }




    }


  }
  nav{
    width: 100%;
    height: auto;
    margin-bottom: 37px;
    background-color:$white;
    .container{
      width: $l;
      margin: 0 auto;

      .wrapper{
        display: flex;
        flex-flow: column;
        margin-top: 37px;
        justify-content: space-between;
        svg{
          width: 200px;

        }
        ul {
          display: flex;
          align-items: center;
          li{
            display: block;
            background: url("../../img/Rectangle 8.png")no-repeat right;
            padding-right: 4px;
            padding-left: 4px;
            a{

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;
              font-size: 13px;
              line-height: 160%;
              letter-spacing: 0.02em;
              color: $shark;
              text-align: center;
              white-space: pre-wrap;



            }

            &:last-child{
              background: none;
            }
            &:hover{
              color:$green;
            }

          }
        }
        .cart{
          left: 721px;
          background: url("../../img/cart.png") no-repeat;
          width: 60px;
          height: 54px;


        }
        button{
          left: 788px;
          width: 170px;
          height: 50px;
          background: $green;
          border: 0;
          border-radius: 100px;

          font-style: normal;
          font-weight: $bold;
          font-size: 13px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          &:hover{
            cursor: pointer;
            animation: shake 0.5s ease-in-out ;
          }

        }

      }

    }



  }



  /*Footer*/


  footer{
    width: 100%;
    height: 308px;
    background-color:$deepblue;


    .footer_container{
      width: $l;
      margin: 0 auto;


    }
    .footer_mainFlex {
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      .footer_copyright{
        svg{
          margin-top: 60px;
          margin-bottom: 110px;
        }
        p{
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: $white;
          opacity: 0.5;
        }
      }
      .footer_menuOne{
        ul{
          margin-top: 53px;
          li {
            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }

            a {
              width: 189px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }

          }

        }



      }
      .footer_menuTwo{
        ul{
          margin-top: 53px;
          li {


            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            a {

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }


          }

        }



      }

      .footer_socialMenu{
        ul{
          margin-top: 53px;
          li {

            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            &:nth-child(2){
              display: flex;



            }


          }

          a {

            width: 34px;
            height: 34px;
            margin-right: 10px;
            background-color:  $deepblue;

            &:first-child {
              width: 34px;
              height: 34px;

            }
            &:nth-child(2) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(3) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(4) {
              width: 34px;
              height: 34px;
              margin-right: 0;

            }
          }

        }






      }


    }



  }





}
@media screen and (max-width: 991px){
  /*header*/
  .top_line{
    width: 100%;
    height: 50px;
    background-color:$deepblue;
    .container{
      width: $md;
      margin: 0 auto;
      .wrapper{
        display: flex;
        .social_flex{
          width: 30%;
          display: flex;
          padding-top: 18px;
          padding-bottom: 18px;
          a {

            width: 19px;
            height: 17px;
            margin-right: 20px;

            &:first-child {
              background: url("../../img/social_spritesheet.png")-5px -5px ;
            }
            &:nth-child(2) {

              background: url("../../img/social_spritesheet.png")-24px -5px ;

            }
            &:nth-child(3) {
              width: 21px;
              background: url("../../img/social_spritesheet.png")-74px -5px ;

            }
            &:nth-child(4) {
              background: url("../../img/social_spritesheet.png")-50px -5px;
              margin-right: 0;
            }
          }

        }
        .contact_flex{
          width: 70%;
          display: flex;
          justify-content: end;
          padding-top: 18px;
          padding-bottom: 18px;

          address{
            margin-right: 40px;
            padding-left: 15px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorpoint.png")no-repeat left;




          }

          a{
            padding-left: 15px;
            font-style: normal;
            font-weight: $normal;
            font-size: 14px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorphone.png")no-repeat left;
          }

        }
      }




    }


  }
  nav{
    width: 100%;
    height: auto;
    margin-bottom: 37px;
    background-color:$white;
    .container{
      width: $md;
      margin: 0 auto;

      .wrapper{
        display: flex;
        flex-flow: column ;
        margin-top: 37px;
        justify-content: space-between;
        svg{
          width: 200px;

        }
        ul {
          margin-top: 10px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          li{
            display: block;
            background: url("../../img/Rectangle 8.png")no-repeat right;
            padding-right: 6px;
            padding-left: 6px;

            a{

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;
              font-size: 13px;
              line-height: 160%;
              letter-spacing: 0.02em;
              color: $shark;
              text-align: center;
              white-space: pre-wrap;



            }


            &:nth-child(8){
              margin-top: 10px;
            }
            &:last-child{
              margin-top: 10px;
              background: none;
            }
            &:hover{
              color:$green;
            }

          }
        }
        .cart{
          margin-top: 0;
          top: 5px;
          left: 654px;
          background: url("../../img/cart.png") no-repeat;
          width: 60px;
          height: 54px;


        }
        button{
          top: 5px;
          left: 244px;
          width: 170px;
          height: 50px;
          background: $green;
          border: 0;
          border-radius: 100px;
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $bold;
          font-size: 13px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          &:hover{
            cursor: pointer;
            animation: shake 0.5s ease-in-out ;
          }

        }

      }

    }



  }




  /*Footer*/


  footer{
    width: 100%;
    height: auto;
    background-color:$deepblue;


    .footer_container{
      width: $sm;
      margin: 0 auto;


    }
    .footer_mainFlex {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .footer_copyright{
        svg{
          margin-top: 60px;
          margin-bottom: 110px;
        }
        p{
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: $white;
          opacity: 0.5;
        }
      }
      .footer_menuOne{
        ul{
          margin-top: 66px;
          li {
            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }

            a {
              width: 189px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }

          }

        }



      }
      .footer_menuTwo{
        ul{
          margin-top: 53px;
          li {


            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            a {

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }


          }

        }



      }

      .footer_socialMenu{
        ul{
          margin-top: 53px;
          margin-right: 16px;
          li {

            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            &:nth-child(2){
              display: flex;



            }


          }

          a {

            width: 34px;
            height: 34px;
            margin-right: 10px;
            background-color:  $deepblue;

            &:first-child {
              width: 34px;
              height: 34px;

            }
            &:nth-child(2) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(3) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(4) {
              width: 34px;
              height: 34px;
              margin-right: 0;

            }
          }

        }






      }


    }



  }





}

@media screen and (max-width: 767px){



  .top_line{
    width: 100%;
    height: 50px;
    background-color:$deepblue;
    .container{
      position: relative;
      width: $sm;
      margin: 0 auto;
      .wrapper{
        display: flex;
        .social_flex{
          width: 30%;
          display: flex;
          padding-top: 18px;
          padding-bottom: 18px;
          a {

            width: 19px;
            height: 17px;
            margin-right: 20px;

            &:first-child {
              background: url("../../img/social_spritesheet.png")-5px -5px ;
            }
            &:nth-child(2) {

              background: url("../../img/social_spritesheet.png")-24px -5px ;

            }
            &:nth-child(3) {
              width: 21px;
              background: url("../../img/social_spritesheet.png")-74px -5px ;

            }
            &:nth-child(4) {
              background: url("../../img/social_spritesheet.png")-50px -5px;
              margin-right: 0;
            }
          }

        }
        .contact_flex{
          width: 70%;
          display: flex;
          justify-content: end;
          padding-top: 18px;
          padding-bottom: 18px;

          address{
            margin-right: 40px;
            padding-left: 15px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 11px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorpoint.png")no-repeat left;




          }

          a{
            display: none;
            padding-left: 15px;
            font-style: normal;
            font-weight: $normal;
            font-size: 11px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorphone.png")no-repeat left;
          }

        }
      }




    }


  }
  nav{
    width: 100%;
    height: auto;
    margin-bottom: 37px;
    background-color:$white;
    .container{
      width: $sm;
      margin: 0 auto;

      .wrapper{
        display: flex;
        flex-flow: column ;
        margin-top: 37px;
        justify-content: space-between;
        svg{
          margin-left: 54px;
          width: 150px;

        }


        .hamburger-menu{
          .menu__btn {
            display: flex; /* используем flex для центрирования содержимого */
            align-items: center;  /* центрируем содержимое кнопки */
            position: absolute;
            top: 19px;
            left: 344px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 4;

          }
          /* добавляем "гамбургер" */
          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $green;
            transition-duration: 1.40s;
          }
          .menu__btn > span::before {
            content: '';
            top: -8px;
          }
          .menu__btn > span::after {
            content: '';
            top: 8px;
          }


          #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
          }
          #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu__toggle:checked ~ .menu {
            visibility: visible;
            left: 0;
          }
        }




        ul {
          display: block;
          position: fixed;
          visibility: hidden;
          top: 0;
          right: -100%;
          width: 300px;
          height: 100%;
          margin: 0;
          padding: 80px 0;
          z-index: 3;
          background-color: #ECEFF1;
          box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
          transition-duration: 1.40s;
          li{
            display: block;
            background: url("../../img/Rectangle 8.png")no-repeat right;
            padding-right: 4px;
            padding-left: 4px;
            text-align: center;
            background: $white;
            box-shadow: 0 -1px 0 #DADBDC, 0px 1px 0px #DADBDC;
            height: 50px;
            transition-duration: .40s;
            a{

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;
              font-size: 13px;
              line-height: 160%;
              letter-spacing: 0.02em;
              color: $shark;
              text-align: center;
              white-space: pre-wrap;



            }


            &:nth-child(7){
              margin-top: 0;
              background: $white;
            }

            &:last-child{
              margin-top: 0;

            }
            &:hover{
              color:$green;
            }

          }
        }





        .cart{
          top: 15px;
          left: 295px;
          background: url("../../img/cart_mob.png") no-repeat;
          width: 32px;
          height: 32px;


        }
        button{
          position: absolute;
          top: 428px;
          left: 64px;
          width: 170px;
          height: 50px;
          background: $green;
          border: 0;
          border-radius: 100px;

          font-style: normal;
          font-weight: $bold;
          font-size: 13px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          &:hover{
            cursor: pointer;
            animation: shake 0.5s ease-in-out ;
          }

        }

      }

    }



  }




  /*Footer*/


  footer{
    width: 100%;
    height: auto;
    background-color:$deepblue;


    .footer_container{
      width: $sm;
      margin: 0 auto;


    }
    .footer_mainFlex {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      .footer_copyright{
        svg{
          margin-top: 60px;
          margin-bottom: 110px;
        }
        p{
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: $white;
          opacity: 0.5;
        }
      }
      .footer_menuOne{
        ul{
          margin-top: 53px;
          li {
            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }

            a {
              width: 189px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }

          }

        }



      }
      .footer_menuTwo{
        ul{
          margin-top: 53px;
          li {


            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            a {

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }


          }

        }



      }

      .footer_socialMenu{
        ul{
          margin-top: 53px;
          li {

            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            &:nth-child(2){
              display: flex;



            }


          }

          a {

            width: 34px;
            height: 34px;
            margin-right: 10px;
            background-color:  $deepblue;

            &:first-child {
              width: 34px;
              height: 34px;

            }
            &:nth-child(2) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(3) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(4) {
              width: 34px;
              height: 34px;
              margin-right: 0;

            }
          }

        }






      }


    }



  }





}

@media screen and (max-width: 575px){


  /*header*/
  .top_line{
    width: 100%;
    height: 50px;
    background-color:$deepblue;
    .container{
      position: relative;
      width: $exs;
      margin: 0 auto;
      .wrapper{
        display: flex;
        .social_flex{

          width: 30%;
          display: none;
          padding-top: 18px;
          padding-bottom: 18px;
          a {

            width: 19px;
            height: 17px;
            margin-right: 20px;

            &:first-child {
              background: url("../../img/social_spritesheet.png")-5px -5px ;
            }
            &:nth-child(2) {

              background: url("../../img/social_spritesheet.png")-24px -5px ;

            }
            &:nth-child(3) {
              width: 21px;
              background: url("../../img/social_spritesheet.png")-74px -5px ;

            }
            &:nth-child(4) {
              background: url("../../img/social_spritesheet.png")-50px -5px;
              margin-right: 0;
            }
          }

        }
        .contact_flex{
          width: 70%;
          display: none;
          justify-content: end;
          padding-top: 18px;
          padding-bottom: 18px;

          address{
            margin-right: 40px;
            padding-left: 15px;
            font-family: $gothamPro;
            font-style: normal;
            font-weight: $normal;
            font-size: 11px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorpoint.png")no-repeat left;




          }

          a{
            display: none;
            padding-left: 15px;
            font-style: normal;
            font-weight: $normal;
            font-size: 11px;
            line-height: 160%;
            letter-spacing: 0.02em;
            color: $white;
            background: url("../../img/Vectorphone.png")no-repeat left;
          }

        }
      }




    }


  }
  nav{
    width: 100%;
    height: auto;
    margin-bottom: 37px;
    background-color:$white;
    .container{
      width: $exs;
      margin: 0 auto;

      .wrapper{
        display: flex;
        flex-flow: column ;
        margin-top: 37px;
        justify-content: space-between;
        svg{
          margin-left: 0;
          width: 112px;

        }


        .hamburger-menu{
          .menu__btn {
            display: flex; /* используем flex для центрирования содержимого */
            align-items: center;  /* центрируем содержимое кнопки */
            position: absolute;
            top: 19px;
            left: 239px;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 4;

          }

          .menu__btn > span,
          .menu__btn > span::before,
          .menu__btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $green;
            transition-duration: 1.40s;
          }
          .menu__btn > span::before {
            content: '';
            top: -8px;
          }
          .menu__btn > span::after {
            content: '';
            top: 8px;
          }


          #menu__toggle:checked ~ .menu__btn > span {
            transform: rotate(45deg);
          }
          #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu__toggle:checked ~ .menu {
            visibility: visible;
            left: 0;
          }
        }




        ul {
          display: block;
          position: fixed;
          visibility: hidden;
          top: 0;
          right: -100%;
          width: 300px;
          height: 100%;
          margin: 0;
          padding: 80px 0;
          z-index: 3;
          background-color: #ECEFF1;
          box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
          transition-duration: 1.40s;
          li{
            display: block;
            background: url("../../img/Rectangle 8.png")no-repeat right;
            padding-right: 4px;
            padding-left: 4px;
            text-align: center;
            background: $white;
            box-shadow: 0 -1px 0 #DADBDC, 0px 1px 0px #DADBDC;
            height: 50px;
            transition-duration: .40s;
            a{

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $bold;
              font-size: 13px;
              line-height: 160%;
              letter-spacing: 0.02em;
              color: $shark;
              text-align: center;
              white-space: pre-wrap;



            }


            &:nth-child(7){
              margin-top: 0;
              background: $white;
            }
            &:last-child{
              margin-top: 0;

            }
            &:hover{
              color:$green;
            }

          }
        }





        .cart{
          top: 15px;
          left: 192px;
          background: url("../../img/cart_mob.png") no-repeat;
          width: 32px;
          height: 32px;


        }
        button{

          position: relative;
          top: 0;
          left: 0;
          width: 170px;
          height: 50px;
          background: $green;
          border: 0;
          border-radius: 100px;

          font-style: normal;
          font-weight: $bold;
          font-size: 13px;
          line-height: 160%;
          letter-spacing: 0.02em;
          color: $white;
          &:hover{
            cursor: pointer;
            animation: shake 0.5s ease-in-out ;
          }

        }

      }

    }



  }




  /*Footer*/


  footer{
    width: 100%;
    height: auto;
    background-color:$deepblue;


    .footer_container{
      width: $exs;
      margin: 0 auto;


    }
    .footer_mainFlex {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      .footer_copyright{
        svg{
          margin-top: 60px;
          margin-bottom: 110px;
        }
        p{
          font-family: $gothamPro;
          font-style: normal;
          font-weight: $normal;
          font-size: 14px;
          line-height: 200%;
          letter-spacing: 0.02em;
          color: $white;
          opacity: 0.5;
        }
      }
      .footer_menuOne{
        ul{
          margin-top: 53px;
          li {
            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }

            a {
              width: 189px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }

          }

        }



      }
      .footer_menuTwo{
        ul{
          margin-top: 53px;
          li {


            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            a {

              font-family: $gothamPro;
              font-style: normal;
              font-weight: $normal;
              font-size: 14px;
              line-height: 200%;
              letter-spacing: 0.02em;
              color: $white;

            }


          }

        }



      }

      .footer_socialMenu{
        margin-bottom: 20px;
        ul{
          margin-top: 53px;
          li {

            &:nth-child(1){
              margin-bottom: 11px;
              font-family: $gothamPro;
              font-style: normal;
              font-weight: $extrabold;
              font-size: 16px;
              line-height: 160%;
              letter-spacing: 0.08em;
              text-transform: uppercase;
              color: $white;
              opacity: 0.5;



            }
            &:nth-child(2){
              display: flex;



            }


          }

          a {

            width: 34px;
            height: 34px;
            margin-right: 10px;
            background-color:  $deepblue;

            &:first-child {
              width: 34px;
              height: 34px;

            }
            &:nth-child(2) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(3) {
              width: 34px;
              height: 34px;


            }
            &:nth-child(4) {
              width: 34px;
              height: 34px;
              margin-right: 0;

            }
          }

        }






      }


    }



  }





}